<h1 color="green">COMMENT </h1>

 comments are used to explain the code and make it more understandable for others (or even yourself when you revisit the code later). Python ignores comments during execution. There are two types of comments in Python: single-line comments and multi-line comments.

1. <b> Single-line Comments
- For single-line comments, you use the # symbol. Everything after # on that line is considered a comment.

In [ ]:
# This is a single-line comment
x = 10  # This is also a comment

2. <b>Multi-line Comments
- You can use triple quotes (''' or """) to write multi-line comments.
- Technically, these are multi-line strings that aren’t assigned to a variable, so they’re ignored by the interpreter.

In [ ]:
"""
This is a multi-line comment.
 multiple lines.
"""
y = 20

In [ ]:
# This is a multi-line comment
# split over
# several lines
z = 30

In [20]:
#This is a comment
print("Hello, World!")

Hello, World!

In [18]:
print("Hello, World!") # This is a comment

Hello, World!

In [22]:
print("Hello, World!")
# This is a comment

Hello, World!

# Multi line comment

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

In [13]:
#if you write a comment at the end of the code it is not taken as a comment
print("hello")
"""hii this is multi-line comment below"""

hello

'hii this is multi line comment below'

In [15]:

print("hello")
"""hii this is multi-line comment below"""
print("whats up")

hello
whats up

# Escape sequence

In [24]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

In [26]:
txt = "We are the so-called """Vikings"""from the north."

SyntaxError: unterminated triple-quoted string literal (detected at line 1) (2272876191.py, line 1)

In [32]:
 # if you want quotation but you can't print quotation direct use escape sequence \"
txt = "We are the so-called \"Vikings\"from the north."
print(txt)

We are the so-called "Vikings"from the north.

Code	 Result 
\'	     Single Quote	
\\	     Backslash	
\n	     New Line	
\r	     Carriage Return	
\t	     Tab	
\b	     Backspace	
\f	     Form Feed	
\ooo     Octal value	
\xhh	 Hex value

In [95]:
print("Name\tClass\tMarks\nchintu\t5th\t80\nSonu\t6th\t50\nbhumi\t7th\t30\n")

Name	Class	Marks
chintu	5th	80
Sonu	6th	50
bhumi	7th	30

In [111]:
print("hii! My name is\'Chetna Gururani")

hii! My name is'Chetna Gururani

In [107]:
print("hii! My name is\\Chetna Gururani")

SyntaxError: unterminated string literal (detected at line 1) (2489112310.py, line 1)

In [85]:
print("hii! My name is\nChetna Gururani")

hii! My name is
Chetna Gururani

In [97]:
print("hii! My name is\n
Chetna Gururani")

SyntaxError: unterminated string literal (detected at line 1) (2962630744.py, line 1)

In [101]:
print("hii! My name is\rChetna Gururani")

Chetna Gururani

In [105]:
print("hii! My name is\tChetna Gururani")

hii! My name is	Chetna Gururani

In [113]:
print("hii! My name is\bChetna Gururani")

hii! My name iChetna Gururani

In [115]:
print("hii! My name is\fChetna Gururani")

hii! My name isChetna Gururani

In [127]:
print("hii! My name is\ooo Chetna Gururani")

hii! My name is\ooo Chetna Gururani

<>:1: SyntaxWarning: invalid escape sequence '\o'
<>:1: SyntaxWarning: invalid escape sequence '\o'
C:\Users\CHETNA GURURANI\AppData\Local\Temp\ipykernel_11588\811098447.py:1: SyntaxWarning: invalid escape sequence '\o'
  print("hii! My name is\ooo Chetna Gururani")

In [129]:
txt = "\110\145\154\154\157"  #octal value
print(txt)

Hello

In [125]:
print("hii! My name is\xhh Chetna Gururani")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 15-16: truncated \xXX escape (285613630.py, line 1)

In [131]:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello