# List Data type
1. Mutable:  You can modify add or remove items from the list
2. Iterable: An iterable is an object capable of returning its members one at a time,      allowing it to be looped over in a for loop or other iteration contexts.
3. Ordered:  It means that the items have a defined order, and that order will not         change. If you add new items to a list, the new items will be placed at the end of      the list.
4. duplicates allowed: Since lists are indexed, lists can have items with the same         value.
5. Changeable: The list is changeable, meaning we can change, add, and remove items in     a list after it has been created.
6. heterogeneous
7. denoted by [] square bracket

**Creating list**

In [ ]:
# Empty list
L=[]
print(L)

In [ ]:
c=list()
c

In [ ]:
a=[1, 2, 3, 4, 5]
print(id(a))
a=[1, 2, 3, 4, 5]
print(id(a))

In [ ]:
#input
l1= list(input("Enter the list element"))
print(l1)       

# output

# Enter the list element [1, 2, 3, 4, 5]
# ['[', '1', ',', ' ', '2', ',', ' ', '3', ',', ' ', '4', ',', ' ', '5', ']']

# Enter the list element 12345
# ['1', '2', '3', '4', '5']

# Enter the list element 1 2 3 5 6
# ['1', ' ', '2', ' ', '3', ' ', '5', ' ', '6']

In [ ]:
list1= eval(input("Enter the list to be added")) #[12, "heelo" , 45, 67]
print(list1)

<b>memory

In [ ]:
list=[1, 2, 3, 4, 5]
print(id(list))

In [ ]:
print(id(list[0]))

<b> Comparing list

In [ ]:
l1=[1,2, 3, 4]
l2=[1,2, 3, 4]
l1==l2

In [ ]:
l1=[1,2, 3, 4]
l2=[2, 3, 4]
print(l1>l2)
print(l1<l2)

In [ ]:
l1=[1, 2, 3, 4, 5]
l2=[2, 3, 4]
l2>l1

In [ ]:
[12]>[11]

## List operator

<b> Joining list

In [ ]:
l1=[1, 2, 3, 4, 5]
l2=[2, 3, 4]
print(l2+l1)
print(l1,l2)

In [ ]:
# l2=[2, 3, 4]+1 # integer cannot add with  list
# l2
[12, 34, 45]+"hello"

In [ ]:
[12, 34, 45]+("hello", "hiii")

<b> Repeating / Replicating list

In [ ]:
li=[1, 3, 45, 4]
l1*2

<b> Slicing list

In [ ]:
# seq= L[star:stop]

In [ ]:
l1=[1, 3, 45, 4]
l1[1:3]
print(l1)

In [ ]:
l1= [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
l2=l1[1:5:2]
print(l2)
print(l1)

In [ ]:
l1= [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
print(l1[::2])
print(l1[::-1])

<b> Using slicing for list modification

In [ ]:
# so it first removes the item up to the given range and then adds the element assigned in that place
l=["hii", "hello", "how"]
l[1:2]=[0,3]
print(l)
# output
# ['hii' , 0, 3, 'ho

In [ ]:
l=["hii", "hello", "how"]
l[1:3]=[0,3]
print(l)

In [ ]:
l=["hii", "hello", "how"]
l[1:7]=[0,3]
print(l)

In [ ]:
l1= [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
l1[1:6]=[0,3]
print(l1)
# output
# [1, 0, 3, 2, 3, 4, 5]

In [ ]:
l1= [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
l1[1:6]="hello"
l1

In [ ]:
l1= [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
l1[1:3]={1, 4, 5}
l1

In [ ]:
l1= [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
l1[2:]=345 # can only assign an iterable

In [ ]:
#membership
l1=[1, 2, 3]
print(3 in l1)
l2=[1, 2]
print(l2 in l1)

In [ ]:
#identity
l1=[1, 2, 3]
l2=[1, 2, 3]
l1 is l2
l3=[1]
l4=[1]
l3 is l4

## The list() Constructor
  It is also possible to use the list() constructor when creating a new list.

In [ ]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

# updating Element to a list

In [ ]:
a=['apple', 'banana', 'cherry']
a[2]="garpe"
print(a)

#  Appending Element to a list

1. <b>.append()
   - Method adds a single item to the end of the list.
   -  It only take one argument

In [ ]:
a=['apple', 'banana', 'cherry']
a.append("grape")
print(a)

In [ ]:
a=['apple', 'banana', 'cherry']
a.append("grape","strawberry")
print(a)

In [ ]:
a=['apple', 'banana', 'cherry']
c=a.append(("grape","strawberry"))
print(c)#  It returns None by default
print(a)

2. <b>extend.()
   - add an element of a given iterable(list, tuple, string) to the end of the list
   - It can take only one argument

In [ ]:
a=['apple', 'banana', 'cherry']
b=("grape","strawberry")
a.extend(b)
a

In [ ]:
a=['apple', 'banana', 'cherry']
a.extend(123)

In [ ]:
a=['apple', 'banana', 'cherry']
a.extend("cherry")
print(a)

In [ ]:
a=['apple', 'banana', 'cherry']
a.extend("cherry", "grape")
print(a)

In [ ]:
a=['apple', 'banana', 'cherry']
a.extend("cherry")
a.extend("grape")
print(a)

3. <b> insert(position , item)
- Insert function , insert the element at given position

In [ ]:
a=['apple', 'banana', 'cherry']
a.insert(2,"cherry")
print(a)

In [ ]:
a=['apple', 'banana', 'cherry']
b=['cherry', 'grape']
a.insert(5, b) # 5 is out of range so it add at
print(a)

4. <b> remove(value)
- remove the first occurrence of the given element from the list

In [ ]:
a=['apple', 'banana', 'cherry']
a.remove("cherry")
print(a)

In [ ]:
a=['apple', 'banana', 'cherry']
a.remove("grape")
print(a)

In [ ]:
a=[]
a.remove("grape")
print(a)

5. <b>pop(index)
- remove and return the element at the given index, if not specified remove and return the last element

In [ ]:
a=['apple', 'banana', 'cherry']
# a.pop("cherry")
print(a.pop(0))
print(a)

In [ ]:
a=['apple', 'banana', 'cherry']
# if not specified
print(a.pop())
print(a)

In [ ]:
a=[]
a.pop()# IndexError: pop from empty list

6. <b> clear()
- remove all element
- unlike del(statement), clear removes only the element and not the list element
- after clear() , the list object still exists as a empty list.

In [ ]:
a=['apple', 'banana', 'cherry']
a.clear()
a

7. <b>del list[index] or del list[start:over]

In [ ]:
a=['apple', 'banana', 'cherry']
del a
print(a) # now a is not define

In [ ]:
a=['apple', 'banana', 'cherry', "mango", "tomato"]
del a[1:3]
print(a)

In [ ]:
a=['apple', 'banana', 'cherry']
del a[1]
print(a)

8. <b>count(item)
 - number of time given element appear

In [ ]:
a=['apple', 'banana', 'cherry',"cherry", "mango", "tomato"]
print(a.count("cherry"))
print(a)

9. <b>reverse()
- This not create a new list but done "in place"

In [ ]:
a=['apple', 'banana', 'cherry',"cherry", "mango", "tomato"]
print(a.reverse())
print(a)

10. <b>sort()
- sort list in ascending order
- sort won't work with complex number

In [ ]:
a=['apple', "mango", "tomato", 'banana', 'cherry',"cherry"]
print(a.sort())
print(a)

In [ ]:
a=[35, 45, 654, 2334, 234, 2, 43, 34]
a.sort()
print(a)

In [ ]:
a=["A", "g","a", "d", "D", "gg","ggh", "d"]
a.sort()
print(a)

In [ ]:
a=[35, 45, 654, 2334, 234, 2, 43, 34]
a.sort(reverse=True)
print(a)

# Making True copy of a list

In [ ]:
color=['red', 'blue', 'green']
b= color # now b and color are the same list
b.append(1)
print(color)
print(id(color))
print(id(b))

# List comprehension
1. List comprehension is a concise way to create lists in Python.
2. It allows you to generate a new list by applying an expression to each item in an existing iterable (like a list or range) and optionally filter those items with a condition.

Syntax:
[expression for item in iterable if condition]

In [ ]:
square=[x**2 for x in range(10) if x%2 ==0]
print(squarex = 12
prime = [i for i in range(1, 10) if x % i != 0]
print("is prime" if len(prime) == 8 else "not prime")

In [ ]:
square=[x**2 for x in range(10) ]
print(square)

In [ ]:
x = 12
prime = [i for i in range(1, 10) if x % i != 0]
print("is prime" if len(prime) == 8 else "not prime")