# Variable
- Variables are containers for storing data values. we do not need to declare variables before we use them or declare them

 ### Rules
- A variable name must start with an alphabet or underscore.
- A variable name can not start with a number or special character.
- Name contains alphabet, number, or underscore.
- The use of special characters is prohibited.
- Variable names are case-sensitive in Python.
- The Python keyword can not be used as a variable name.

In [34]:
a=12
a=k=h

NameError: name 'h' is not defined

In [38]:
a=12
h=y=a
print(h)

12

In [7]:
b=3

In [11]:
print(a+b)

4

In [13]:
print(a)

1

## Declaration

In [85]:
a=4

In [89]:
print(a)

4

In [22]:
a="hii" # now this will be consider as value od a

In [24]:
print(a)

hii

In [15]:
-apple=34

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1531450357.py, line 1)

In [27]:
_apple=5

In [41]:
c=print(_apple)

5

In [21]:
chetna@guru=1            # Here @ is special character so it giving syntax error

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (388830285.py, line 1)

# <b>variable are stored in memory location</b>
# Id

In [4]:
a=1;

In [6]:
id(a) # this tell the location of a

140719288629688

In [32]:
b=0.2

In [34]:
id(b)

1662308783440

# Variable of different data type

In [3]:
a=4
id(a)

140735407077912

In [5]:
a="hello"
id(a)

1464919902800

In [38]:
a=1; #(integer (int))

In [60]:
id(a)

140719288629688

In [ ]:
b=0.2 #(float)

In [63]:
id(b)

1662308783440

In [56]:
c="Hii! how are you" #(string(str))

In [65]:
id(c)

1662341477168

In [42]:
d=True; # (Boolean)

In [67]:
id(d)

140719287503744

In [69]:
e=4j #(complex)
id(e)

1662341010192

In [52]:
f=None; #(None)

In [71]:
id(f)

140719287584720

# Get the Type - type()
- You can get the data type of a variable with the <u>type()</u> function.

In [55]:
#integer type casting
a= int("123") # This string now does not accept the words it will only accept number
type(a)
a

123

In [61]:
a=int(12.3)
a

12

In [67]:
a=int('12.3')# this will generate error
a

ValueError: invalid literal for int() with base 10: '12.3'

In [51]:
a=float("12.3") # it also not accept words
print(type(a))
print(a)

<class 'float'>
12.3

In [22]:
a=bool("False")
print(type(a))
print(a)

True

In [ ]:
# checking the id in type casting

In [14]:
i=567
print(id(i))

2441322590160

In [10]:
str(i)

'567'

In [12]:
print(id(i))

2441322590512

In [ ]:
# int to list type casting

In [16]:
a=1
list(a)

TypeError: 'int' object is not iterable

In [26]:
# list to string 
o=["s",2,"g"]
print(id(o))
str(o)

2441354926208

"['s', 2, 'g']"

In [28]:
id(o)

2441354926208

In [38]:
# list to set (but the type not change)
h=["s","f", "hii"]
print(set(h))
print(type(h))

{'hii', 'f', 's'}
<class 'list'>

In [107]:
id(h)

1662284893904

In [48]:
# list to dictonary - it give error
h=["s","f", "hii"]
dict(h)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [46]:
h={123:34, 234:23}
type(h)

dict

In [39]:
type(c)

NoneType

In [111]:
id(c)

1662341477168

In [141]:
t = "This is a string"
type(t)

str

In [139]:
s ="string"
type(s)

str

In [117]:
id(s)

140719288685416

<b>if two variable have same address</b>-they stored in same memory location.

In [150]:
a=4
b=4
c=5
print(id(a), id(b))
print(id(c))

140719288629784 140719288629784
140719288629816

In [156]:
a=5;
print(id(a)) # If the value changes of the variable, the memory location will remain

140719288629816

In [162]:
a=0;
type(a)

int

# Casting -
If you want to specify the data type of a variable, this can be done with casting.

In [67]:
a = str(4)
print(a)

4

In [74]:
id(a)

140719288629688

In [158]:
a = int(4)
print(a)

4

In [160]:
id(a)

140719288629784

In [71]:
c= float(4)
print(c)

4.0

# One Value to Multiple Variables
- And you can assign the same value to multiple variables in one line:

In [3]:
a=b=c=10

In [9]:
print(a)
print(b)

10
10

In [16]:
z="kii"
x=y=z

## Swap

In [43]:
x=10
y=13
x,y=y,x
print(x,y)

13 10

# Print()

In [102]:
x ="python"
y ="is"
z ="awsome"

In [106]:
print(x,y,z)

python is awsome

In [110]:
print(x+y+z)

pythonisawsome

In [50]:
print

<b> end=""  it add value at the end

In [53]:
print("hii" ," heloo", end="")

hii  heloo