# List Data type
1. Mutable:  You can modify add or remove items from the list
2. Iterable: An iterable is an object capable of returning its members one at a time,      allowing it to be looped over in a for loop or other iteration contexts.
3. Ordered:  It means that the items have a defined order, and that order will not         change. If you add new items to a list, the new items will be placed at the end of      the list.
4. duplicates allowed: Since lists are indexed, lists can have items with the same         value.
5. Changeable: The list is changeable, meaning we can change, add, and remove items in     a list after it has been created.
6. heterogeneous
7. denoted by [] square bracket

**Creating list**

In [ ]:
# Empty list
L=[]
print(L)

In [ ]:
c=list()
c

In [ ]:
a=[1, 2, 3, 4, 5]
print(id(a))
a=[1, 2, 3, 4, 5]
print(id(a))

In [ ]:
#input
l1= list(input("Enter the list element"))
print(l1)       

# output

# Enter the list element [1, 2, 3, 4, 5]
# ['[', '1', ',', ' ', '2', ',', ' ', '3', ',', ' ', '4', ',', ' ', '5', ']']

# Enter the list element 12345
# ['1', '2', '3', '4', '5']

# Enter the list element 1 2 3 5 6
# ['1', ' ', '2', ' ', '3', ' ', '5', ' ', '6']

In [ ]:
list1= eval(input("Enter the list to be added")) #[12, "heelo" , 45, 67]
print(list1)

<b>memory

In [ ]:
list=[1, 2, 3, 4, 5]
print(id(list))

In [ ]:
print(id(list[0]))

<b> Comparing list

In [ ]:
l1=[1,2, 3, 4]
l2=[1,2, 3, 4]
l1==l2

In [ ]:
l1=[1,2, 3, 4]
l2=[2, 3, 4]
print(l1>l2)
print(l1<l2)

In [ ]:
l1=[1, 2, 3, 4, 5]
l2=[2, 3, 4]
l2>l1

In [ ]:
[12]>[11]

## List operator

<b> Joining list

In [ ]:
l1=[1, 2, 3, 4, 5]
l2=[2, 3, 4]
print(l2+l1)
print(l1,l2)

In [ ]:
# l2=[2, 3, 4]+1 # integer cannot add with  list
# l2
[12, 34, 45]+"hello"

In [ ]:
[12, 34, 45]+("hello", "hiii")

<b> Repeating / Replicating list

In [ ]:
li=[1, 3, 45, 4]
l1*2

<b> Slicing list

In [ ]:
# seq= L[star:stop]

In [ ]:
l1=[1, 3, 45, 4]
l1[1:3]
print(l1)

In [ ]:
l1= [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
l2=l1[1:5:2]
print(l2)
print(l1)

In [ ]:
l1= [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
print(l1[::2])
print(l1[::-1])

<b> Using slicing for list modification

In [ ]:
# so it first removes the item up to the given range and then adds the element assigned in that place
l=["hii", "hello", "how"]
l[1:2]=[0,3]
print(l)
# output
# ['hii' , 0, 3, 'ho

In [ ]:
l=["hii", "hello", "how"]
l[1:3]=[0,3]
print(l)

In [ ]:
l=["hii", "hello", "how"]
l[1:7]=[0,3]
print(l)

In [ ]:
l1= [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
l1[1:6]=[0,3]
print(l1)
# output
# [1, 0, 3, 2, 3, 4, 5]

In [ ]:
l1= [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
l1[1:6]="hello"
l1

In [ ]:
l1= [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
l1[1:3]={1, 4, 5}
l1

In [ ]:
l1= [1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
l1[2:]=345 # can only assign an iterable

In [ ]:
#membership
l1=[1, 2, 3]
print(3 in l1)
l2=[1, 2]
print(l2 in l1)

In [ ]:
#identity
l1=[1, 2, 3]
l2=[1, 2, 3]
l1 is l2
l3=[1]
l4=[1]
l3 is l4

## The list() Constructor
  It is also possible to use the list() constructor when creating a new list.

In [3]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

# updating Element to a list

In [15]:
a=['apple', 'banana', 'cherry']
a[2]="garpe"
print(a)

['apple', 'banana', 'garpe']

#  Appending Element to a list

1. <b>.append()
   - Method adds a single item to the end of the list.
   -  It only take one argument

In [8]:
a=['apple', 'banana', 'cherry']
a.append("grape")
print(a)

['apple', 'banana', 'cherry', 'grape']

In [10]:
a=['apple', 'banana', 'cherry']
a.append("grape","strawberry")
print(a)

TypeError: list.append() takes exactly one argument (2 given)

In [31]:
a=['apple', 'banana', 'cherry']
c=a.append(("grape","strawberry"))
print(c)#  It returns None by default
print(a)

None
['apple', 'banana', 'cherry', ('grape', 'strawberry')]

2. <b>extend.()
   - add an element of a given iterable(list, tuple, string) to the end of the list
   - It can take only one argument

In [11]:
a=['apple', 'banana', 'cherry']
b=("grape","strawberry")
a.extend(b)
a

['apple', 'banana', 'cherry', 'grape', 'strawberry']

In [21]:
a=['apple', 'banana', 'cherry']
a.extend(123)

TypeError: 'int' object is not iterable

In [5]:
a=['apple', 'banana', 'cherry']
a.extend("cherry")
print(a)

['apple', 'banana', 'cherry', 'c', 'h', 'e', 'r', 'r', 'y']

In [7]:
a=['apple', 'banana', 'cherry']
a.extend("cherry", "grape")
print(a)

TypeError: list.extend() takes exactly one argument (2 given)

In [9]:
a=['apple', 'banana', 'cherry']
a.extend("cherry")
a.extend("grape")
print(a)

['apple', 'banana', 'cherry', 'c', 'h', 'e', 'r', 'r', 'y', 'g', 'r', 'a', 'p', 'e']

3. <b> insert(position , item)
- Insert function , insert the element at given position

In [26]:
a=['apple', 'banana', 'cherry']
a.insert(2,"cherry")
print(a)

['apple', 'banana', 'cherry', 'cherry']

In [32]:
a=['apple', 'banana', 'cherry']
b=['cherry', 'grape']
a.insert(5, b) # 5 is out of range so it add at
print(a)

['apple', 'banana', 'cherry', ['cherry', 'grape']]

4. <b> remove(value)
- remove the first occurrence of the given element from the list

In [40]:
a=['apple', 'banana', 'cherry']
a.remove("cherry")
print(a)

['apple', 'banana']

In [42]:
a=['apple', 'banana', 'cherry']
a.remove("grape")
print(a)

ValueError: list.remove(x): x not in list

In [68]:
a=[]
a.remove("grape")
print(a)

ValueError: list.remove(x): x not in list

5. <b>pop(index)
- remove and return the element at the given index, if not specified remove and return the last element

In [62]:
a=['apple', 'banana', 'cherry']
# a.pop("cherry")
print(a.pop(0))
print(a)

apple
['banana', 'cherry']

In [64]:
a=['apple', 'banana', 'cherry']
# if not specified
print(a.pop())
print(a)

cherry
['apple', 'banana']

In [66]:
a=[]
a.pop()

IndexError: pop from empty list

6. <b> clear()
- remove all element
- unlike del(statement), clear removes only the element and not the list element
- after clear() , the list object still exists as a empty list.

In [82]:
a=['apple', 'banana', 'cherry']
a.clear()
a

[]

7. <b>del list[index] or del list[start:over]

In [93]:
a=['apple', 'banana', 'cherry']
del a
print(a) # now a is not define

NameError: name 'a' is not defined

In [103]:
a=['apple', 'banana', 'cherry', "mango", "tomato"]
del a[1:3]
print(a)

['apple', 'mango', 'tomato']

In [99]:
a=['apple', 'banana', 'cherry']
del a[1]
print(a)

['apple', 'cherry']

8. <b>count(item)
 - number of time given element appear

In [108]:
a=['apple', 'banana', 'cherry',"cherry", "mango", "tomato"]
print(a.count("cherry"))
print(a)

2
['apple', 'banana', 'cherry', 'cherry', 'mango', 'tomato']

9. <b>reverse()
- This not create a new list but done "in place"

In [113]:
a=['apple', 'banana', 'cherry',"cherry", "mango", "tomato"]
print(a.reverse())
print(a)

None
['tomato', 'mango', 'cherry', 'cherry', 'banana', 'apple']

10. <b>sort()
- sort list in ascending order
- sort won't work with complex number

In [130]:
a=['apple', "mango", "tomato", 'banana', 'cherry',"cherry"]
print(a.sort())
print(a)

None
['apple', 'banana', 'cherry', 'cherry', 'mango', 'tomato']

In [132]:
a=[35, 45, 654, 2334, 234, 2, 43, 34]
a.sort()
print(a)

[2, 34, 35, 43, 45, 234, 654, 2334]

In [146]:
a=["A", "g","a", "d", "D", "gg","ggh", "d"]
a.sort()
print(a)

['A', 'D', 'a', 'd', 'd', 'g', 'gg', 'ggh']

In [152]:
a=[35, 45, 654, 2334, 234, 2, 43, 34]
a.sort(reverse=True)
print(a)

[2334, 654, 234, 45, 43, 35, 34, 2]

# Making True copy of a list

In [155]:
color=['red', 'blue', 'green']
b= color # now b and color are the same list
b.append(1)
print(color)
print(id(color))
print(id(b))

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

# List comprehension
1. List comprehension is a concise way to create lists in Python.
2. It allows you to generate a new list by applying an expression to each item in an existing iterable (like a list or range) and optionally filter those items with a condition.

Syntax:
[expression for item in iterable if condition]

In [170]:
square=[x**2 for x in range(10) if x%2 ==0]
print(squarex = 12
prime = [i for i in range(1, 10) if x % i != 0]
print("is prime" if len(prime) == 8 else "not prime")

[0, 4, 16, 36, 64]

In [172]:
square=[x**2 for x in range(10) ]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [180]:
x = 12
prime = [i for i in range(1, 10) if x % i != 0]
print("is prime" if len(prime) == 8 else "not prime")

not prime

In [157]:
# •	Given a list of integers, create a new list that contains only the even numbers from the original list using list comprehension.
a=[1, 2, 4,3, 4, 5, 6, 7]
list2=[]
for i in a:
    if (i%2==0):
        list2.append(i)
       
        
    
print(list2)

[2, 4, 4, 6]

In [ ]:
# •	Write a function that rotates a list to the right by k elements. 
#For example, given [1, 2, 3, 4, 5] and k=2, the result should be [4, 5, 1, 2, 3].

In [ ]:
list1=[1, 2, 3, 4, 5, 6]
def rotate(k,list1):
    return list1[k:]+list1[k-1::-1]
    
k= int(input("Enter the Number you want to reverse:"))
rotate(k, list1)

In [ ]:
# Sorting:
# Given a list of tuples, where each tuple contains a string and a number, sort the list based on the number in ascending order. 
# For example, [(‘apple’, 2), (‘banana’, 1), (‘cherry’, 3)] should become [(‘banana’, 1), (‘apple’, 2), (‘cherry’, 3)].

In [ ]:
list1=[("apple", 2), ("banana", 1), ("cherry", 67) ,("erf", 3),("fgg",0)] 
for i in range(len(list1)):
    for j in range(len(list1)):    
        if(list1[i][1]<list1[j][1]):
            list1[i],list1[j]=list1[j],list1[i]
print(list1)

In [ ]:
#  List Manipulation:
# •	Write a function to flatten a nested list. For example, given [[1, 2, [3]], [4, 5], [6]], the function should return [1, 2, 3, 4, 5, 6].
list1=[[1, 2, [3]], [4, 5], [6]]
list2=[]
for i in range(2):
   
        for j in range(2):
            if(type(list1[i][j])==list):      
                for k in range(2):
                    list2.append(list1[i][j][k])
            else:
                list2.append(list1[i][j])
    
print(list2)

In [ ]:
#Write a function that takes a list of numbers and returns a new list with each number squared, 
#but only if the original number was positive.
list1=eval(input("Enter the list:"))
new_list=[]
def square(list1,new_list):   
    for i in range(len(list1)): 
        s=list1[i]
        squ=s*s
        new_list.append(squ)
    print(new_list) 
    
square(list1,new_list)